@font-face {
    font-family: 'Philosopher';
    font-weight: 400;
    src: url("fonts/Philosopher-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Philosopher';
    font-style: italic;
    src: url("fonts/Philosopher-Italic.ttf") format("truetype");
}

@font-face {
    font-family: 'PhilosopherBold';
    src: url("fonts/Philosopher-Bold.ttf") format("truetype");
}


@font-face {
    font-family: 'Philosopher';
    font-weight: 700;
    font-style: italic;
    src: url("fonts/Philosopher-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: 'Helvetica';
    font-weight: 400;
    src: url("fonts/Helvetica.ttf") format("truetype");
}

@font-face {
    font-family: 'Helvetica';
    font-weight: 300;
    src: url("fonts/helvetica-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Helvetica';
    font-weight: 700;
    src: url("fonts/Helvetica-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Helvetica';
    font-style: italic;
    src: url("fonts/Helvetica-Oblique.ttf") format("truetype");
}

@font-face {
    font-family: 'Helvetica';
    font-weight: 700;
    font-style: italic;
    src: url("fonts/Helvetica-Bold-Oblique.ttf") format("truetype");
}

body {
    padding-top: 20vh;
    /* 280px */
    font-family: Philosopher;
    margin: 0;
    background-image: url('assets/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.medusa {
    position: center;
    display: flex;
    justify-content: center;
}

/* 
████████╗██╗████████╗ ██████╗ ██╗     ██╗
╚══██╔══╝██║╚══██╔══╝██╔═══██╗██║     ██║
   ██║   ██║   ██║   ██║   ██║██║     ██║
   ██║   ██║   ██║   ██║   ██║██║     ██║
   ██║   ██║   ██║   ╚██████╔╝███████╗██║
   ╚═╝   ╚═╝   ╚═╝    ╚═════╝ ╚══════╝╚═╝
*/

header {
    margin-left: 30px;
}

.title {

    color: #CCF3FF;
    text-shadow: 0px 4px 41px rgba(0, 0, 0, 0.34);
    font-size: 23vh;
    font-style: normal;
    font-weight: light;
    line-height: 99.973%;
    text-align: center;
    /* 217.94px */
}

.subtitle {
    color: #CCF3FF;
    text-align: center;
    text-shadow: 0px 4px 41px rgba(0, 0, 0, 0.34);
    font-family: Helvetica;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    padding-bottom: 100px;
}

.frecce {
    display: flex;
    justify-content: center;
    padding-bottom: 10vw;
    padding-top: 5vw;
    position: relative;
    animation-name: moving;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);

    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

    transition-timing-function: ease-in-out;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

    transition-timing-function: ease-in;
    transition-timing-function: cubic-bezier(0.42, 0, 1, 1);

    transition-timing-function: ease-out;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);

}

@keyframes moving {
    0% {
        top: 0px;
    }

    50% {
        top: 15px;
    }

    100% {
        top: 0px;
    }
}


#Emo01 {
    cursor: url(/assets/medusina.svg), auto;
}

#Emo02 {
    cursor: url(/assets/medusinared.svg), auto;
}

#Emo03 {
    cursor: url(/assets/medusina.svg), auto;
}

#Emo04 {
    cursor: url(/assets/medusinared.svg), auto;
}

#Emo05 {
    cursor: url(/assets/medusina.svg), auto;
}

#Emo06 {
    cursor: url(/assets/medusinared.svg), auto;
}

#Emo07 {
    cursor: url(/assets/medusina.svg), auto;
}

#Emo08 {
    cursor: url(/assets/medusinared.svg), auto;
}

#Emo09 {
    cursor: url(/assets/medusina.svg), auto;
}

#Emo10 {
    cursor: url(/assets/medusinared.svg), auto;
}

#Emo11 {
    cursor: url(/assets/medusina.svg), auto;
}

#Emo12 {
    cursor: url(/assets/medusinared.svg), auto;
}

#Emo13 {
    cursor: url(/assets/medusina.svg), auto;
}

#Emo14 {
    cursor: url(/assets/medusinared.svg), auto;
}

#Emo15 {
    cursor: url(/assets/medusina.svg), auto;
}

#Emo16 {
    cursor: url(/assets/medusinared.svg), auto;
}

#Emo17 {
    cursor: url(/assets/medusina.svg), auto;
}

#Emo18 {
    cursor: url(/assets/medusinared.svg), auto;
}

#Emo19 {
    cursor: url(/assets/medusina.svg), auto;
}

#Emo20 {
    cursor: url(/assets/medusinared.svg), auto;
}

#Emo21 {
    cursor: url(/assets/medusina.svg), auto;
}

#Emo22 {
    cursor: url(/assets/medusinared.svg), auto;
}

#Emo23 {
    cursor: url(/assets/medusina.svg), auto;
}

#Emo24 {
    cursor: url(/assets/medusinared.svg), auto;
}

#Emo25 {
    cursor: url(/assets/medusina.svg), auto;
}

#Emo01,
#Emo02,
#Emo03,
#Emo04,
#Emo05,
#Emo06,
#Emo07,
#Emo08,
#Emo09,
#Emo10,
#Emo11,
#Emo12,
#Emo13,
#Emo14,
#Emo15,
#Emo16,
#Emo17,
#Emo18,
#Emo19,
#Emo20,
#Emo21,
#Emo22,
#Emo23,
#Emo24,
#Emo25 {
    text-decoration: none;
    opacity: 0;
}



/* 
.overlay {
    position: fixed;
    width: 100vw;
    height: 100vw;
    z-index: 2;
    display: flex;
}

.bar {
    width: 10vw;
    height: 105vh;
    background: #1a1a1a;
}

.counter {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 10000;
    color: white;
    z-index: 100000;
    font-size: 3vw;
    font-family: Philosopher;
} */

/*
██╗███╗   ██╗████████╗██████╗  ██████╗ 
██║████╗  ██║╚══██╔══╝██╔══██╗██╔═══██╗
██║██╔██╗ ██║   ██║   ██████╔╝██║   ██║
██║██║╚██╗██║   ██║   ██╔══██╗██║   ██║
██║██║ ╚████║   ██║   ██║  ██║╚██████╔╝
╚═╝╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝ 
*/

.intro {
    text-align: center;
    justify-content: center;
}

.intro h1 {
    color: #CCF3FF;
    text-shadow: 0px 4px 41px rgba(0, 0, 0, 0.34);
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-family: Philosopher;
    padding-top: 150px;
    justify-content: center;

    font-size: 3vw;
}

.intro h5 {
    text-align: left;
    width: 838px;
    display: inline-block;
    color: #CCF3FF;
    font-family: Helvetica;
    font-weight: 300;

    font-size: 1vw;
    padding-bottom: 18vw;
}


.story h1 {
    text-align: center;
    justify-content: center;

    color: #CCF3FF;
    text-shadow: 0px 4px 41px rgba(0, 0, 0, 0.34);
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-family: Philosopher;
    padding-top: 150px;
    justify-content: center;

    font-size: 4vw;
}



/* 
.tentacles {
    z-index: 100;
} */

#medusa-wrapper svg {
    max-width: 100%;
    width: 100%;
    display: block;
}

svg g {
    display: block;
}

#medusa-wrapper {
    position: relative;
}

.badge-personaggio {
    display: inline-block;
    position: absolute;
    font-size: 0.95vw;
    padding: .3em 1em;
    border-radius: 9999px;
    transform: translate3d(-50%, 0, 0);
    opacity: .1;

}

#medusa-wrapper {
    z-index: 2;
}

.badge-personaggio.active {
    opacity: 1;
}

#tentacolobianco,
#true-holly,
#true-ezra,
#true-connie,
#true-george,
#true-den,
#true-emily,
#true-ben {
    opacity: 0;
}

#EZRA,
#TIM,
#HOLLY,
#GEORGE,
#CONNIE,
#DEN,
#EMILY,
#BEN {
    position: absolute;
    z-index: 1;
}

#Time01,
#Time02,
#Time03,
#Time04,
#Time05,
#Time06,
#Time07,
#Time08,
#Time09,
#Time10,
#Time11,
#Time12,
#Time13,
#Time14,
#Time15,
#Time16,
#Time17,
#Time18,
#Time19,
#Time20,
#Time21,
#Time22,
#Time23,
#Time24,
#Time25,
#Time26,
#Time27,
#Time28,
#Time29,
#Time30,
#Time31,
#Time32,
#Time33,
#Time34,
#Time35,
#popup1,
#popup2,
#popup3 {
    opacity: 0
}

/* #Time03.active {
    opacity: 1;
} */

#PopUp {
    position: absolute;
    z-index: 3;
}

/* #Time03 {
    opacity: 0;
} */

/* #Time03.active {
    opacity: 1;
} */


#tentacolobianco,
#true-holly,
#Vector-80 {
    display: block;
}

.line-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

svg {
    display: inline-block;
    height: 100%;

}


/* 
███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
█████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝                                  
*/


.creators {
    display: flex;
    justify-content: center;
}

p {
    color: pink;
    padding: 0px 16px;
    text-align: center;

}



/*
 █████╗ ███╗   ██╗██╗███╗   ███╗ █████╗ ███████╗██╗ ██████╗ ███╗   ██╗██╗
██╔══██╗████╗  ██║██║████╗ ████║██╔══██╗╚══███╔╝██║██╔═══██╗████╗  ██║██║
███████║██╔██╗ ██║██║██╔████╔██║███████║  ███╔╝ ██║██║   ██║██╔██╗ ██║██║
██╔══██║██║╚██╗██║██║██║╚██╔╝██║██╔══██║ ███╔╝  ██║██║   ██║██║╚██╗██║██║
██║  ██║██║ ╚████║██║██║ ╚═╝ ██║██║  ██║███████╗██║╚██████╔╝██║ ╚████║██║
╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝╚═╝     ╚═╝╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝
*/




@keyframes scale {
    100% {
        transform: scale(1);
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

/* 
████████╗██╗████████╗ ██████╗ ██╗      ██████╗ 
╚══██╔══╝██║╚══██╔══╝██╔═══██╗██║     ██╔═══██╗
   ██║   ██║   ██║   ██║   ██║██║     ██║   ██║
   ██║   ██║   ██║   ██║   ██║██║     ██║   ██║
   ██║   ██║   ██║   ╚██████╔╝███████╗╚██████╔╝
   ╚═╝   ╚═╝   ╚═╝    ╚═════╝ ╚══════╝ ╚═════╝ 
*/

.title {
    opacity: 0;
    filter: blur(4px);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.subtitle {
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.title:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(12) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(13) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(14) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(15) {
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(16) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(17) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(18) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

/*
███████╗ ██████╗ ████████╗████████╗ ██████╗ ████████╗██╗████████╗ ██████╗ ██╗      ██████╗ 
██╔════╝██╔═══██╗╚══██╔══╝╚══██╔══╝██╔═══██╗╚══██╔══╝██║╚══██╔══╝██╔═══██╗██║     ██╔═══██╗
███████╗██║   ██║   ██║      ██║   ██║   ██║   ██║   ██║   ██║   ██║   ██║██║     ██║   ██║
╚════██║██║   ██║   ██║      ██║   ██║   ██║   ██║   ██║   ██║   ██║   ██║██║     ██║   ██║
███████║╚██████╔╝   ██║      ██║   ╚██████╔╝   ██║   ██║   ██║   ╚██████╔╝███████╗╚██████╔╝
╚══════╝ ╚═════╝    ╚═╝      ╚═╝    ╚═════╝    ╚═╝   ╚═╝   ╚═╝    ╚═════╝ ╚══════╝ ╚═════╝ 
*/

.subtitle {
    opacity: 0;
    filter: blur(4px);
    animation: scale 1000s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.subtitle:nth-child(1) {
    animation: fade-in 0.9s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(2) {
    animation: fade-in 0.9s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(12) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(13) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(14) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(15) {
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(16) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(17) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(18) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

/*
███████╗██████╗ ███████╗ ██████╗ ██████╗███████╗
██╔════╝██╔══██╗██╔════╝██╔════╝██╔════╝██╔════╝
█████╗  ██████╔╝█████╗  ██║     ██║     █████╗  
██╔══╝  ██╔══██╗██╔══╝  ██║     ██║     ██╔══╝  
██║     ██║  ██║███████╗╚██████╗╚██████╗███████╗
╚═╝     ╚═╝  ╚═╝╚══════╝ ╚═════╝ ╚═════╝╚══════╝
*/