@font-face {
    font-family: 'Philosopher';
    src: url("fonts/Philosopher-Regular.ttf") format("opentype");
}

@font-face {
    font-family: 'PhilosopherItalic';
    src: url("fonts/Philosopher-Italic.ttf") format("opentype");
}

@font-face {
    font-family: 'PhilosopherBold';
    src: url("fonts/Philosopher-Bold.ttf") format("opentype");
}

@font-face {
    font-family: 'PhilosopherBoldItalic';
    src: url("fonts/Philosopher-BoldItalic.ttf") format("opentype");
}

.html {
    height: 100%;
}

body {
    padding-top: 20vh;
    /* 280px */
    font-family: Philosopher;
    margin: 0;
    background-image: url('assets/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.medusa {
    position: center;
    display: flex;
    justify-content: center;
}

/* 
████████╗██╗████████╗ ██████╗ ██╗     ██╗
╚══██╔══╝██║╚══██╔══╝██╔═══██╗██║     ██║
   ██║   ██║   ██║   ██║   ██║██║     ██║
   ██║   ██║   ██║   ██║   ██║██║     ██║
   ██║   ██║   ██║   ╚██████╔╝███████╗██║
   ╚═╝   ╚═╝   ╚═╝    ╚═════╝ ╚══════╝╚═╝
*/

header {
    margin-left: 30px;
}

.title {

    color: #CCF3FF;
    text-shadow: 0px 4px 41px rgba(0, 0, 0, 0.34);
    font-size: 23vh;
    font-style: normal;
    font-weight: 400;
    line-height: 99.973%;
    text-align: center;
    /* 217.94px */
}

.subtitle {
    color: #CCF3FF;
    text-shadow: 0px 4px 41px rgba(0, 0, 0, 0.34);
    font-family: Helvetica;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;

    padding-bottom: 100px;
}

.frecce {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    position: relative;
    animation-name: moving;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);

    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

    transition-timing-function: ease-in-out;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

    transition-timing-function: ease-in;
    transition-timing-function: cubic-bezier(0.42, 0, 1, 1);

    transition-timing-function: ease-out;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);

}

@keyframes moving {
    0% {
        top: 0px;
    }

    50% {
        top: 15px;
    }

    100% {
        top: 0px;
    }
}

/*
██╗███╗   ██╗████████╗██████╗  ██████╗ 
██║████╗  ██║╚══██╔══╝██╔══██╗██╔═══██╗
██║██╔██╗ ██║   ██║   ██████╔╝██║   ██║
██║██║╚██╗██║   ██║   ██╔══██╗██║   ██║
██║██║ ╚████║   ██║   ██║  ██║╚██████╔╝
╚═╝╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝ 
*/

.intro {
    text-align: center;
    justify-content: center;
}

.intro h1 {
    color: #CCF3FF;
    text-shadow: 0px 4px 41px rgba(0, 0, 0, 0.34);
    font-size: 45px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    padding-bottom: 150px;
    font-family: Philosopher;
    padding-top: 150px;
    padding-bottom: 106px;
    justify-content: center;
}

.intro h5 {
    text-align: center;
    width: 838px;
    display: inline-block;
    color: #CCF3FF;
    font-family: Helvetica;

}




/* 
███╗   ██╗ █████╗ ██╗   ██╗
████╗  ██║██╔══██╗██║   ██║
██╔██╗ ██║███████║██║   ██║
██║╚██╗██║██╔══██║╚██╗ ██╔╝
██║ ╚████║██║  ██║ ╚████╔╝ 
╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝                              


.nav {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

.names {
    display: flex;
    justify-content: center;
    gap: 1vh;
    position: sticky;
    top: 0;
}

.names a {
    height: 3vh;
    margin: 10px;
    width: 12vh;
    border-radius: 150px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 2vh;
}

a.Emily {
    color: black;
    background-color: #F7B9F4;
}

a.Holly {
    background-color: #4457B0;
}

a.Ben {
    background-color: white;
    color: black;
}

a.Nicholas {
    background-color: #9464E2;
}

.Ezra {
    background-color: #1347FF;
}

a.George {
    background-color: #F511EC;
    color: black;
}

a.Connie {
    background-color: #90E4FF;
    color: black;
}

*/




/* 
███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
█████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝                                  
*/


.creators {
    display: flex;
    justify-content: center;
}

p {
    color: #25b725;
}

p.marco {
    padding-left: 10px;
    padding-right: 10px;
}

p.ginevra {
    padding-left: 10px;
    padding-right: 10px;
}

p.sofia {
    padding-left: 10px;
    padding-right: 10px;
}

p.andrea {
    padding-left: 10px;
    padding-right: 10px;
}

p.riccardo {
    padding-left: 10px;
    padding-right: 10px;
}

p.matteo {
    padding-left: 10px;
    padding-right: 10px;
}

/* 
███████╗ ██████╗██████╗  ██████╗ ██╗     ██╗     ███████╗██████╗ 
██╔════╝██╔════╝██╔══██╗██╔═══██╗██║     ██║     ██╔════╝██╔══██╗
███████╗██║     ██████╔╝██║   ██║██║     ██║     █████╗  ██████╔╝
╚════██║██║     ██╔══██╗██║   ██║██║     ██║     ██╔══╝  ██╔══██╗
███████║╚██████╗██║  ██║╚██████╔╝███████╗███████╗███████╗██║  ██║
╚══════╝ ╚═════╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚══════╝╚══════╝╚═╝  ╚═╝
*/

::-webkit-scrollbar {
    width: 12px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #030C2F);
    border-radius: 6px;
    height: 300px;
}

::-webkit-scrollbar-thumb-hover {
    background: linear-gradient(transparent, #00c6ff);
}



/*
 █████╗ ███╗   ██╗██╗███╗   ███╗ █████╗ ███████╗██╗ ██████╗ ███╗   ██╗██╗
██╔══██╗████╗  ██║██║████╗ ████║██╔══██╗╚══███╔╝██║██╔═══██╗████╗  ██║██║
███████║██╔██╗ ██║██║██╔████╔██║███████║  ███╔╝ ██║██║   ██║██╔██╗ ██║██║
██╔══██║██║╚██╗██║██║██║╚██╔╝██║██╔══██║ ███╔╝  ██║██║   ██║██║╚██╗██║██║
██║  ██║██║ ╚████║██║██║ ╚═╝ ██║██║  ██║███████╗██║╚██████╔╝██║ ╚████║██║
╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝╚═╝     ╚═╝╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝
*/




@keyframes scale {
    100% {
        transform: scale(1);
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

/* 
████████╗██╗████████╗ ██████╗ ██╗      ██████╗ 
╚══██╔══╝██║╚══██╔══╝██╔═══██╗██║     ██╔═══██╗
   ██║   ██║   ██║   ██║   ██║██║     ██║   ██║
   ██║   ██║   ██║   ██║   ██║██║     ██║   ██║
   ██║   ██║   ██║   ╚██████╔╝███████╗╚██████╔╝
   ╚═╝   ╚═╝   ╚═╝    ╚═════╝ ╚══════╝ ╚═════╝ 
*/

.title {
    opacity: 0;
    filter: blur(4px);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.subtitle {
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.title:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(12) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(13) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(14) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(15) {
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(16) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(17) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title:nth-child(18) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

/*
███████╗ ██████╗ ████████╗████████╗ ██████╗ ████████╗██╗████████╗ ██████╗ ██╗      ██████╗ 
██╔════╝██╔═══██╗╚══██╔══╝╚══██╔══╝██╔═══██╗╚══██╔══╝██║╚══██╔══╝██╔═══██╗██║     ██╔═══██╗
███████╗██║   ██║   ██║      ██║   ██║   ██║   ██║   ██║   ██║   ██║   ██║██║     ██║   ██║
╚════██║██║   ██║   ██║      ██║   ██║   ██║   ██║   ██║   ██║   ██║   ██║██║     ██║   ██║
███████║╚██████╔╝   ██║      ██║   ╚██████╔╝   ██║   ██║   ██║   ╚██████╔╝███████╗╚██████╔╝
╚══════╝ ╚═════╝    ╚═╝      ╚═╝    ╚═════╝    ╚═╝   ╚═╝   ╚═╝    ╚═════╝ ╚══════╝ ╚═════╝ 
*/

.subtitle {
    opacity: 0;
    filter: blur(4px);
    animation: scale 1000s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.subtitle:nth-child(1) {
    animation: fade-in 0.9s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(2) {
    animation: fade-in 0.9s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(12) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(13) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(14) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(15) {
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(16) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(17) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle:nth-child(18) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

/*
███████╗██████╗ ███████╗ ██████╗ ██████╗███████╗
██╔════╝██╔══██╗██╔════╝██╔════╝██╔════╝██╔════╝
█████╗  ██████╔╝█████╗  ██║     ██║     █████╗  
██╔══╝  ██╔══██╗██╔══╝  ██║     ██║     ██╔══╝  
██║     ██║  ██║███████╗╚██████╗╚██████╗███████╗
╚═╝     ╚═╝  ╚═╝╚══════╝ ╚═════╝ ╚═════╝╚══════╝
*/



/*
███╗   ██╗ █████╗ ██╗   ██╗
████╗  ██║██╔══██╗██║   ██║
██╔██╗ ██║███████║██║   ██║
██║╚██╗██║██╔══██║╚██╗ ██╔╝
██║ ╚████║██║  ██║ ╚████╔╝ 
╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝  


.nav {
    opacity: 0;
    filter: blur(4px);
    animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.nav:nth-child(1) {
    animation: fade-in 1.9s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.nav:nth-child(2) {
    animation: fade-in 1.9s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.nav:nth-child(7) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.nav:nth-child(8) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.nav:nth-child(9) {
    animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.nav:nth-child(10) {
    animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.nav:nth-child(11) {
    animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.nav:nth-child(12) {
    animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.nav:nth-child(13) {
    animation: fade-in 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.nav:nth-child(14) {
    animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.nav:nth-child(15) {
    animation: fade-in 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.nav:nth-child(16) {
    animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.nav:nth-child(17) {
    animation: fade-in 0.8s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.nav:nth-child(18) {
    animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

*/